@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.en-au {
    font-family: 'Poppins';
}
.th-th {
    font-family: 'Kanit';
    /* font-size: 18px; */
}
.th-th p {
    font-size: 18px;
}

body,
html {
    margin: 0;
    /* font-family: "Poppins"; */
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

.th-th p {
    font-size: 18px;
}

p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.7rem;
}
.blog p {
    line-height: 2rem;
}
@media screen and (max-width: 720px) {
    p {
        font-size: 0.9rem;
    }
}

/* scroll snap */
.container-snap {
    scroll-snap-type: y mandatory;
}
.child {
    scroll-snap-align: start;
}

/* nav links */

.navlist a {
    color: #90acd1;
    font-size: 13px;
}
.navlist a:hover {
    color: #be4938;
    cursor: pointer;
}
.seperator {
    border-color: #90acd1;
}

a:target {
    display: block;
    position: relative;
    top: 120px;
    visibility: hidden;
}

/* footer */

.footer p,
a {
    @apply text-xs my-3 text-white font-thin;
}
input,
input::placeholder {
    font-size: 0.8rem;
    color: #c7c7c7;
    outline: none;
}

/* Input style */

.native_input input,
textarea {
    background-color: #f9f9ff;
    color: #9fb0e4;
    border-radius: 20px;
    padding: 0.6rem;
    padding-left: 10px;
    border: 1.5px #9fb0e4 solid;
    margin: 5px;
    padding-left: 24px;
    transition: border ease 50ms;
}
.native_input input:focus,
textarea:focus {
    border: 2px #9fb0e4 solid;
}

.native_input input,
textarea::placeholder {
    font-size: 0.9rem;
}

/* slider arrows */
.slick-next {
    background: url('/assets/svg/rightArrow.svg') center center no-repeat !important;
}
.slick-next::before {
    display: none;
}

.slick-prev {
    background: url('/assets/svg/leftArrow.svg') center center no-repeat !important;
}
.slick-prev::before {
    display: none;
}
