@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  margin: 0;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Poppins";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  font-size: 0.75rem;
}

/* nav links */

.navlist a {
  color: #90acd1;
  font-size: 13px;
}
.navlist a:hover {
  color: #be4938;
  cursor: pointer;
}
.seperator {
  border-color: #90acd1;
}

/* footer */

.footer p,
a {
  @apply text-xs my-3 text-white font-thin;
}
input,
input::placeholder {
  font-size: 0.75rem;
  color: #c7c7c7;
  outline: none;
}

/* Input style */

.native_input input,
textarea {
  background-color: #f9f9ff;
  color: #9fb0e4;
  border-radius: 18px;
  padding: 0.6rem;
  padding-left: 10px;
  border: 1.5px #9fb0e4 solid;
  margin: 5px;
}

.native_input input,
textarea::placeholder {
  font-size: 12px;
}
